body {
  padding: 105px 30px 10px 100px;
  margin: 0;
  background-color: rgb(241, 241, 241);
}

.span {
  color: red;
}

@media (min-width: 1000px) {
  body {
    padding: 100px 15px 10px 290px;
    margin: 0;
    background-color: rgb(241, 241, 241);
  }
}
