

.header {
  display: flex;
  justify-content: space-between;
  height: 65px;
  align-items: center;

  /* border: 1px solid rgb(176, 167, 167); */
  border-bottom: 1px solid rgb(217, 208, 208);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  background-color: white;
  z-index: 100;
}


.left-section {
  width: 200px;
}

.hamburger-menu {
  height: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.youtube-logo {
  height: 25px;
}

.middle-section {
  flex: 1;
  max-width: 500px;
  display: flex;
}

.search-bar {
  padding: 10px;
  flex: 1;
  border-radius: 5px;
  border: 1px solid rgb(194, 191, 191);
  font-family: cursive;
  font-size: 16px;
  height: 45px;
  width: 5px;
}

.search-bar::placeholder {
  font-size: 16px;
  padding-left: 10px;
  box-shadow:inset 1px 2px 3px rgba(0, 0, 0, 0.09);
}

.search-icon-btn {
  height: 45px;
  width: 69px;
  margin-right: 10px;
  margin-left: -3px;
  border: 1px solid grey;
  background-color: rgb(240, 240, 240);
}

.voice-search-btn {
  width: 40px;
  border-radius: 20px;
  border: 0 solid grey;
}

.search-icon {
  height: 27px;
}


.right-section {
  width: 200px;
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
}

.upload-icon {
  width: 30px;
}

.youtube-apps-icon {
  width: 30px;
}

.notification-icon {
width: 30px;
}

.notification-icon-container {
  position: relative;

}

.notification-counts {
  position: absolute;
  right: -2px;
  top: -2px;

  background-color: red;
  color: white;
  font-family: cursive;
  font-size: 11px;
  border-radius: 18px;
  padding: 2px 6px 2px 6px;
}

.gift-photo-1 {
  width: 35px;
  border-radius: 15px;
  margin-right: 10px;
}